# Settings
.vscode

# Folders
static_web
debug.py
dashboard/migrations/*
test
message_system/netmq/.vs
message_system/netmq/netmq/bin/*
bot_pi/bot_pi_token.py
db.sqlite3

# Files
*.pyc
*.exe
secret_key.py