{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            
            <!-- Размещать контент тут -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Card with switch</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <div class="test">0</div>
                        </p>
                    </div>
                </div>
            </div>
                        
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Card with switch</strong>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Ram used</th>
                                    <th scope="col">Ram Free</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="r_used">000.0</td>
                                    <td class="r_free">000.0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Card with switch</strong>
                    </div>
                    <div class="card-body">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>

        </div><!-- .row -->
    </div><!-- .animated -->
</div><!-- .content -->

{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>

    <!--  Chart js -->
    <script src="{% static 'assets\js\chartjs.min.js' %}"></script>
    <script>

        $(document).ready(function(){  // При загрузке документа
            
            // RAM chart
            var ramUse = document.getElementById('canvas').getContext('2d');
            var ramDoughnutChart = new Chart(ramUse, {
                type: 'doughnut',
                data: {
                    datasets: [{
                            data: [75, 25],
                            backgroundColor: [
                                'rgba(0, 123, 255,0.9)',
                                'rgba(255, 153, 102,0.7)'
                            ]
                        }],
                    labels: ['Free','Used'],
                    },
                options: {
                        responsive: true,
                        animation: false,
                    },
            });


            // Интервальная функция
            var count = 0;
            setInterval(function(){  // Запускам периодически исполняемую функцию
                
                // Тело функции, которая буде периодически повторяться
                var $block_test = $(".test").text(count);
                count++;

                $.getJSON('index/data', function(data){
                    $(".r_used").text(data.used_ram);
                    $(".r_free").text(data.free_ram);
                    // Производим обновление данных chartJS
                    // Само обновление заключается в модернизации массива                    
                    // if(cptLineChart.data.labels.length > 25){
                    //     cptLineChart.data.labels.splice(0,1);
                    //     cptLineChart.data.datasets[0].data.splice(0,1);
                    // }
                    // cptLineChart.data.labels.push(count);
                    // cptLineChart.data.datasets[0].data.push(data.free_ram);
                    // cptLineChart.update();
                    ramDoughnutChart.data.datasets[0].data.splice(0,2);
                    ramDoughnutChart.data.datasets[0].data.push(data.free_ram, data.used_ram);
                    ramDoughnutChart.update();
                });

            }, 1000);  // Интервал


        });

    </script>
{% endblock %}