{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            
            <!-- Размещать контент тут -->
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Температура ЦП</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Виджет отображения температуры процессора</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Дисковое пространство</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Виджет отображения свободного места</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">RAM</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Виджет отображения свободной оперативной памяти</p>
                    </div>
                </div>
            </div>

        </div><!-- .row -->
    </div><!-- .animated -->
</div><!-- .content -->

{% endblock %}

{% block js %}
    <!--  Chart js -->
    <script src="{% static 'assets/js/chart.min.js' %}"></script>
{% endblock %}