{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            
            <!-- Размещать контент тут -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Журнал Ras_Pi</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            
                            {% for row in log_table %}
                            <tr>
                                <td class="col-md-4">{{ row.time_stamp|date:"Y-m-d H:i:s" }}</td>
                                <td class="col-md-8">{{ row.history }}</td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>

        </div><!-- .row -->
    </div><!-- .animated -->
</div><!-- .content -->

{% endblock %}