{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            
            <!-- Размещать контент тут -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Журнал Telegram Bot Pi</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Время</th>
                                    <th scope="col">Сообщение</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in log_botpi %}
                                    <tr>
                                        <td style="width: 25%;">{{ row.time_stamp|date:"Y-m-d H:i:s" }}</td>
                                        <td style="width: 75%;">{{ row.history }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div><!-- .row -->
    </div><!-- .animated -->
</div><!-- .content -->

{% endblock %}